// main: ../style.less

.header {
    display: grid;
    max-width: 160rem;
    grid-template-columns: 63px 11fr;
    grid-template-rows: 49% 2% 49%;
    grid-column-gap: 20px;
    margin-left: 19rem;
    margin-right: 19rem;
    margin-top: 6rem;
    padding-top: 5.5rem;

  }
  .header-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(/src/img/header-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    

  }

  .header-logo-img{
    width: 14px;
    height: 14px;
    background-image: url(/src/img/header-ping.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
  }

  .nav {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    list-style: none;
    gap: 4.5rem;
    padding: 0px;
    margin-left: 2rem;
  }
  .row-border {
    background: #B9836D;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .upper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 2.5rem;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 2.5rem;
    margin-right: 0.5rem;
  }
  span {
    font-size: 2rem;
  }
  .nav-item#contacts {
    text-align: right;
    flex-grow: 20;
  }
  .nav-item a {
    text-decoration: underline;
    color: #ffffff;
    text-underline-position: under;
    text-decoration-thickness: 0.125rem;
  }
  .nav-item {
    flex-grow: 1;
  }
  .upper-text {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  .upper a {
    text-decoration: none;
    color: #ffffff;
  }

  .menu-btn-header{
    display: none;
  }


  @media (max-width: 420px){

    .header {
      display: flex;
      opacity: 1;
      /* max-width: 160rem; */
      grid-template-columns: 63px 11fr;
      grid-template-rows: 49% 2% 49%;
      grid-column-gap: 20px;
      margin: auto;
      margin-top: 1rem;
      padding-top: 5.5rem;
      flex-direction: column-reverse;
      align-content: center;
  }

  .header-logo {
    /* grid-column-start: 1; */
    /* grid-column-end: 2; */
    /* grid-row-start: 1; */
    /* grid-row-end: 4; */
    background-image: url(http://localhost:8080/img/header-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 5rem;
    height: 5rem;
    order: 1;
    margin-left: 1rem;
    z-index: 4;
    
}
  
  .upper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 10rem;
    justify-content: space-around;
}
  .upper-text {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
  
  .row-border{
    display: none;
  }

  span {
    font-size: 2rem;
}

.upper a {
  text-decoration: none;
  color: #000;
  font-size: 2.5rem;
}


.upper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 10rem;
  justify-content: space-around;
}


nav {
  display: flex;
  height: 48rem;
  width: 98%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
}
  
   
  

.nav {
  display: flex;
  /* grid-column-start: 2; */
  /* grid-column-end: 3; */
  /* grid-row-start: 2; */
  /* grid-row-end: 3; */
  list-style: none;
  /* gap: 3.5rem; */
  padding: 0px;
  margin-left: 0rem;
  flex-direction: column;
  flex-wrap: wrap;
  height: 41rem;
  color: #000;
  align-items: center;
  justify-content: space-evenly;
}

.nav-item{
  flex-grow: 0;
}
.menu-btn-header span#burger{
  display: block;
  width: 5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #B9836D;
  position: absolute;
  top: 30%;
  right: 0%;
  transition: all 0.3s;
}

.menu-btn-header span#burger:nth-of-type(2){
  top: 60%;
  right: 0%;
}

.nav-item a{
  color: #000;
  font-size: 3rem;
}

.menu-wrapper{
  display: flex;
  position: fixed;
  top: -100%;
  width: 100%;
  background-color: white;
  margin-top: -7rem;
  color: #000;
  z-index: 2;
  transition: all 0.8s;
  height: 55%;
  flex-direction: column-reverse;


}

.menu-wrapper.active{

  position: fixed;
  top: 7rem;
  transition: all 0.8s;
  }

.menu-btn-header{

  display:block;
  position: absolute;
  right: 1rem;
  top: 7rem;
  width: 5rem;
  height: 5rem;
  
  z-index: 4;

}

.menu-btn-header.active span#burger{
  display: block;
  width: 5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #B9836D;
  position: absolute;
  top: 50%;
  right: 0%;
  transform:translate(0%, 0rem) rotate(45deg);
  transition: all 0.3s;
}

.menu-btn-header.active span#burger:nth-of-type(2){
  top: 50%;
  right: 0%;
  transform: translate(0%, 0rem) rotate(-45deg);
}




}