// main: ../style.less


.service{
    display: flex;
    height: 66.5rem;
    background-image: url(/src/img/service-img-grave.png), url(/src/img/service-img-bg.png);
    background-repeat: no-repeat;
    background-position: right, center;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
    
}

.service-gallery{
    width: 50%;
    background-image: url(/src/img/service-img-grave.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

.service-text{
    width: 69%;
    display: flex;
    background-position: right bottom;
    flex-direction: column;
    justify-content: center;
    margin-left: 0rem;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: auto;
    

    p{
        margin-bottom: 5rem;
        width: 48rem;
    }

}   

.service-text-items{
    width: 33%;
    height: fit-content;
    min-width: 45rem;
    z-index: 1;
    margin-bottom: 3rem;
    

    h2{
        width: 150%;
        margin-top: 0rem;
    }
}
