.wrapper
    .catalog
        h2#lined КАТАЛОГ
        .btn-secondary
            a(href="") Смотреть все
        
        .catalog-items
            .swiper_catalog
                .swiper-wrapper
                    .swiper-slide
                        .catalog-wrapper
                            .catalog-item
                                .catalog-item-img
                                p Комплект Карелия, 70-40-80, гранит
                                span 13 340 Р 
                                .btn-secondary
                                    a(href="") Перейти в каталог
                    .swiper-slide
                        .catalog-wrapper
                            .catalog-item
                                .catalog-item-img
                                p Комплект Карелия, 70-40-80, гранит
                                span 14 340 Р 
                                .btn-secondary
                                    a(href="") Перейти в каталог
                    .swiper-slide
                        .catalog-wrapper
                            .catalog-item
                                .catalog-item-img
                                p Комплект Карелия, 70-40-80, гранит
                                span 15 340 Р 
                                .btn-secondary
                                    a(href="") Перейти в каталог    
                    .swiper-slide
                        .catalog-wrapper
                            .catalog-item
                                .catalog-item-img
                                p Комплект Карелия, 70-40-80, гранит
                                span 16 340 Р 
                                .btn-secondary
                                    a(href="") Перейти в каталог
                    .swiper-slide
                        .catalog-wrapper
                            .catalog-item
                                .catalog-item-img
                                p Комплект Карелия, 70-40-80, гранит
                                span 17 340 Р 
                                .btn-secondary
                                    a(href="") Перейти в каталог
                    .swiper-slide
                        .catalog-wrapper
                            .catalog-item
                                .catalog-item-img
                                p Комплект Карелия, 70-40-80, гранит
                                span 18 340 Р 
                                .btn-secondary
                                    a(href="") Перейти в каталог    
                
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next
            .swiper-scrollbar
        
        
