.wrapper
    .examples
        .examples-gallery
             .swiper_gallery   
                .swiper-wrapper   
                    .swiper-slide 
                        .examples-gallery-item 
                    .swiper-slide 
                        .examples-gallery-item
                    .swiper-slide  
                        .examples-gallery-item
                    .swiper-slide 
                        .examples-gallery-item
                    .swiper-slide 
                        .examples-gallery-item
                    .swiper-slide 
                        .examples-gallery-item
                    .swiper-slide 
                        .examples-gallery-item 
                    .swiper-slide 
                        .examples-gallery-item 
                    .swiper-slide 
                        .examples-gallery-item 
                 
                .swiper-button-next-gallery    
                .swiper-button-prev-gallery 
             

        .examples-text
            .examples-text-items
                h2#lined НАШИ РАБОТЫ
                p Заказывайте свой дизайн памятника или выбирайте из представленных, мы вложим все силы, чтобы вы остались довольны.
            