- var pageTitle = 'Undertaking'

doctype html
html(lang="ru")
    head
        title=pageTitle
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
    body
        
        include modules/header-and-banner
        include modules/catalog
        include modules/specifies
        include modules/examples
        include modules/service
        include modules/about-us
        include modules/uq-design
        include modules/footer
        
